body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
  background-color: rgb(70, 66, 66);
  height: 9vh;
}

.main {
  display: flex;
  overflow: scroll;
}

.image {
  margin: 20px;
}

.modal-container {
  background-color: rgba(24, 6, 6, 0.8);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: whitesmoke;
  height: 50%;
  width: 50%;
  border-radius: 5px;
}

.modal-image {
  object-fit: fill;
  height: 100% !important;
  width: 100% !important;
}

.fox-image {
  cursor: pointer;
  object-fit: fill;
}
